.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.border{
    border: 2px solid red;
    margin: 3px;
}
.radius{
    border-radius: 7px;
}
